.calculator{
    width: 500px;
    height: 350px;
    border: solid rgb(167, 163, 163);
    background-color: rgb(123, 129, 129);
    .display{
        background-color: rgb(61, 63, 65);
        width: 445px;
        border: solid rgb(167, 163, 163);
        color: rgb(218, 207, 207);
      }
      button{
        width: 90px;
        height: 70px;
        color: rgb(53, 48, 48);
      }
      #operateurs{
        background-color: rgb(165, 161, 161);
      }
}